.advice-summary {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;

  &__item {
    width: calc(calc(100% / 3) - 10px);
    margin: 0 0 45px 0;

    &--inner {
      text-align: left;
    }

    &--wrapper {
      position: relative;
      overflow: hidden;
      margin-bottom: calc(1.4423076923vw + 2.3076923077px);
    }

    &--description {
      margin-top: 0.5rem;

      .rec {
        text-align: center;
      }
    }
  }
}
