.article {
  &--header {
    &__title {
      font-size: 40px;
      line-height: 39px;
      font-weight: 900;
    }
  }
  &--info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 18px 0 0;
    &__category {
      font-size: 14px;
      font-weight: 700;
      color: $darkRed;
    }
  }
}
