/* Blog */

.blog-flex-container{
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}

.post-item{
  width: calc(calc(100% / 3) - 20px);
  margin: 0 0 45px 0;
  padding: 10px;
}
.headline--post-title{
  margin-top: 20px;

  a{
    color: $darkRed;
    text-decoration: none;
  }
}