.page-links {
  position: relative;
  z-index: 1;
  background-color: $lightPink;
  margin: 0 0 40px 0;

  @include atSmallMedium{
    margin: 0 0 40px 20px;
    width: 300px;
    float: right;
  }

  &__title{
    margin: 0;
    font-weight: normal;
    text-align: center;
    padding: 20px 0;
    background-color: $darkRed;
    color: #fff;

    a{
      color: #fff;
      text-decoration: none;
      background-color: $darkRed;
    }
  }

  li{
    border-top: 1px solid #f4de89;
  }

  li:first-child{
    border-top: none;
  }

  &__active,.current_page_item{
    text-align: center;
    background-color: #f4e6b1;
    color: $darkRed;
    font-weight: bold;
  }

  li a{
    display: block;
    text-align: center;
    padding: 17px 10px;
    text-decoration: none;
    color: $darkRed;
    transition: all 0.3s;
  }
  
  li a:hover{
    color: $darkRed;
    background-color: #f2e3aa;
  }
}
