/* Seach Form */
.search-form {
  background-color: #dedede;
  padding: 20px;
  text-align: center;
}

.search-form label {
  display: block;
}

.search-form-row {
  display: flex;
}

.search-form .s {
  min-width: 20px;
  flex-basis: auto;
  flex-grow: 1;
  border: none;
  font-family: 'Lato', sans-serif;
  padding: 10px;
  @include atSmall {
    font-size: 1.4rem;
  }
}

.search-submit {
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: $darkRed;
  font-family: 'Lato', sans-serif;
  padding: 0 20px;
  margin-left: 10px;
}
