.page-section {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  
  @include atMedium{
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  &--white{
    background-color: #fff;
  }

  p:last-of-type{
    margin-bottom: 0;
  }
}