.recipe-summary {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
  &__item {
    width: calc(calc(100% / 3) - 10px);
    margin: 0 0 45px 0;
    &--inner {
      text-align: left;
    }
    &--wrapper {
      position: relative;
      overflow: hidden;
      margin-bottom: -3px;
    }
    &--description {
      margin-top: 0px;
      padding-top: 2vw;
      padding-bottom: 20px;
      border-left: 1px solid #f4f4f4;
      border-right: 1px solid #f4f4f4;
      border-bottom: 1px solid #f4f4f4;
      border-radius: 0px 0px 5px 5px;
    }
    &--button {
      margin-top: 0.5rem;
    }
  }

  &__all {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.recipe-hover {
  border-left: 1px solid #470d21;
  border-right: 1px solid #470d21;
  border-bottom: 1px solid #470d21;
}

.img_wrapper {
  z-index: 1;
  position: relative;
  display: block;
}

.rec {
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item__title {
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  &--cooker {
    font-size: 16px;
    line-height: 18px;
  }
  &--cooker a,
  a {
    text-decoration: none;
    color: $darkRed;
  }
}

.item__stats {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.stats__duration {
  min-width: 4.9375rem;
  display: flex;
  -webkit-box-align: center;
  -moz-flex-align: center;
  align-items: center;
  stroke: grey;
  &--clock {
    stroke: #999;
    height: 1rem;
    width: 1rem;
    background-size: 1rem;
    display: inline-block;
    margin-right: 0.4375rem;
    background-image: url('./../images/clock.svg');
    background-repeat: no-repeat;
  }
  &--text {
    font-size: 14px;
    line-height: 20px;
  }
}

.stats__difficulty {
  margin-left: 0.9375rem;
  display: flex;
  -webkit-box-align: center;
  -moz-flex-align: center;
  align-items: center;
  color: #999;

  &--icon {
    width: 1.3125rem;
    height: 1.3125rem;
    background-size: 1.25rem 1.25rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url('./../images/poziom.webp');
  }

  &--text {
    margin-left: 0.25rem;
    font-size: 14px;
    line-height: 20px;
  }
}
