.recipe-summary{
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
  &__item{
    width: calc(calc(100% / 3) - 10px);
    margin: 0 0 45px 0;
    &--inner{
      text-align: left;
    }
    &--wrapper{
      position: relative;
      overflow: hidden;
      margin-bottom: calc(1.4423076923vw + 2.3076923077px);
    }
    &--description{
      margin-top: 0.5rem;
    }
    &--button{
      margin-top: 0.5rem ;
    }
  }
}

.img_wrapper{
  z-index: 1;
  position: relative;
  display: block;
}

.rec{
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item__title{
  font-size: 22px;
  line-height: 32px;
  &--cooker{
    font-size: 16px;
    line-height: 18px;
  }
  &--cooker a{
    text-decoration: none;
    color: $darkRed;
  }
}

.item__stats{
  margin-top: 1rem;
  display: flex;
}

.stats__duration{
  min-width: 4.9375rem;
  display: flex;
  -webkit-box-align: center;
  -moz-flex-align: center;
  align-items: center;
  stroke: grey;
  &--clock{
    stroke: #999;
    height: 1rem;
    width: 1rem;
    background-size: 1rem;
    display: inline-block;
    margin-right: 0.4375rem;
    background-image: url('./../images/clock.svg');
    background-repeat: no-repeat;
  }
  &--text{
    font-size: 14px;
    line-height: 20px;
  }
}

.stats__difficulty{
  margin-left: 0.9375rem;
  display: flex;
  -webkit-box-align: center;
  -moz-flex-align: center;
  align-items: center;
  color: #999;

  &--icon{
    width: 1.3125rem;
    height: 1.3125rem;
    background-size: 1.25rem 1.25rem;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url('./../images/poziom.webp');
  }

  &--text{
    margin-left: 0.25rem;
    font-size: 14px;
    line-height: 20px;
  }
}
