.site-logo {
  &--text {
    position: relative;
    z-index: 20;
    margin: 0;
    font-size: 1.75rem;
    font-weight: 300;
    color: #fff;
    a {
      text-decoration: none;
      color: #fff;
    }
  }

  strong {
    font-weight: 400;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  &--img {
    height: calc(2vw + 16px);
    width: calc(7vw + 43px);
  }
}
