.bold {
  font-weight: bold;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}

@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}

.container--narrow {
  max-width: 1300px;
}

.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}
.t-center {
  text-align: center;
}
.t-small {
  font-size: 0.85rem;
}

.t-dark {
  color: #000;
}

.c-white {
  color: #fff;
}
.c-dark {
  color: #333;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.push-right {
  margin-right: 20px;
}

.container:before,
.container:after,
.group:before,
.group:after {
  content: ' ';
  display: table;
}
.container:after,
.group:after {
  clear: both;
}
.hide {
  display: none;
}

.no-margin {
  margin: 0;
}

.full-width-split {
  padding: 40px;
}

/* Breadcrumbs */
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f2e3aa;
  border-radius: 4px;
}
.breadcrumb a {
  color: $darkRed;
  text-decoration: none;
}

/*Default column property e.g. search window*/
@include atMedium {
  .row {
    margin-right: -50px;
  }

  .one-half,
  .one-third,
  .two-thirds,
  .one-quarter,
  .one-fifth,
  .one-sixth {
    padding-bottom: 0;
    float: left;
    box-sizing: border-box;
    padding-right: 50px;
  }

  .two-thirds {
    width: 66.66%;
  }
  .one-half {
    width: 50%;
  }
  .one-third {
    width: 33.33%;
  }
  .one-quarter {
    width: 25%;
  }
  .one-fifth {
    width: 20%;
  }
  .one-sixth {
    width: 16.66%;
  }
}
